body {
	background-color: #373a3c;
}

h1 {
	font-family: 'Barriecito', cursive;
}


[type=radio] { 
  position: relative;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  width:40%;
 
}

#story1 {
	width:30%;
	text-align:left;
	padding-left:5%;
	font-size:75%;
}

#font1 {
	font-size:170%;
	margin-left:5%;
	text-align:center;
}

[type=radio]:checked + img {
	
  outline: 2px solid #f00;
   transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
  
}

#leftsetter {
	margin-left:-5%;
}


#dragon {
	width: 70%;
	margin-left: 71%;
}

.images {
	max-width: 5%;
	max-height: 2%;
}

.speaker {
	height: 30px;
	width: 30px;
	position: relative;
	overflow: hidden;
	display: inline-block; span { display : block;
	width: 8px;
	height: 8px;
	background: #fff;
	margin: 11px 0 0 2px; &: after { content : '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 10px 14px 10px 15px;
	left: -13px;
	top: 5px;
}

&
:before {
	transform: rotate(45deg);
	border-radius: 0 50px 0 0;
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: double;
	border-color: #fff;
	border-width: 7px 7px 0 0;
	left: 18px;
	top: 9px;
	transition: all 0.2s ease-out;
}
}
&
:hover {
	span: before{  
			transform: scale(.8) translate(-3px, 0) rotate(42deg);
}

}
&
.mute {
	span: before{  
			transform: scale(.5) translate(-15px, 0) rotate(36deg);
	opacity: 0;
}

}
}

/*Fight Page*/
#fightheader {
	margin-top: 0.5%;
	font-family: 'Barriecito', cursive;
	font-size: 250%;
	
}

.p-background{
 	background-image : url("stars.png");
	background-repeat: no-repeat;
	background-size: 100%;
 
 }
 
 #fight-page margin{
 	margin-bottom: -150%;
 	margin-top: -150;
 	
 }
 
 #fight-page container{
 	margin-bottom: -150%;
 	margin-top: -150;
 
 }
/* .column {
	font-size: 125%;
	padding: 2px;
	float: left;
	margin-top: 5%;
	color: #FFDF00;
}
 */
/* .middle2 {
	width: 20%;
} */

/* .left2, .right2 {
	width: 50%;
}

.fight-page:after {
	content: "";
	display: table;
	clear: both;
} */

/* .dice-image {
	border: 2px solid #000;
	background: #D9831F;
	padding: 35% 30%;
	vertical-align: middle;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
	position: relative;
	
} */

/* .dice::after {
	content: ""; background-image : url("dice.png");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-image: url("dice.png");
} */

.punchKickButtons {
	font-family: 'Barriecito', cursive;
	color: yellow;
	background-color: black;
	position: relative;
	/* width: 15%;
	height: 5%; */
	border-color: yellow;
	font-size: 125%;
}

.button-style{
	margin-top: 5%;	
	vertical-align: middle;
	
}

.button-row{
	padding: 5%;
	margin:2%;
}

.fight-page{
	margin-top:5%;
}


/*End Fight Page*/

/*Leader Board Page*/

.lead-header{
	font-size:350%;
	margin-bottom: -2%;
}
.leader-table{
	font-size: 125%;
	color: #FFDF00;
}

.leader-table-headers{
	font-weight: bold;
	font-size: 175%;
}

/*End Leader Board Page*/
body {
  color: #FFDF00; 
  font-family: arial, sans-sarif;
  background: radial-gradient(#3d0c60 0%, #1c0a43 100%);
  text-align: center;
}