@charset "UTF-8";

body {
	background-color: #67110a;
	font-family: 'Barriecito', cursive;
	color: yellow;
	text-shadow: 2px 2px black;
	
}

<<<<<<< Updated upstream
#storybody {
	color:yellow;
	position:relative;
	width:700px;
    height:100px;
}

=======
.wrapper{
	width: 500px;
}

.inner{
	width: 300px;
}
>>>>>>> Stashed changes

h1 {
	position: relative;
	left:10px;
	top:5px;
	font-size: 65px;
	
}

p {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	text-shadow: 2px 2px black;
}

select {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	background-color: black;
	border-color:yellow;
}

div {
	top: 1px;
	right: 150px;
	position:fixed;
}

img {
	position: fixed;
	top:90px;
	left: 750px;
	width:600px;
	height:500px;
	border-color:#660000;
}

input {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	background-color: black;
	border-color: yellow;
	
}

th {
	color: yellow;
	font-family: 'Barriecito', cursive;	
}

#storyoption {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 35px;
	background-color:black;
}

#storytable, th {
	position:relative;
	bottom:35px;
	border-spacing: 45px;
	color:yellow;
	font-size:35px;
}

#death {
	position:static;
	left:230px;
}

#deathstory {
	position:relative;
	top:550px;
	width:55%;
	height:1px;
}

#playagain {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	position:relative;
	top:120px;
	margin-left:639px;
}
