@charset "UTF-8";

body {
	background-color: #67110a;
	font-family: 'Barriecito', cursive;
	color: yellow;
	text-shadow: 2px 2px black;
	
}

/*home page css*/

#welcome {
	position: relative;
	top:20%;
	bottom:5%;
	font-size: 450%;
	height:4%;	
}

iframe {
	position:relative;
	width:75%;
	height:60%;
	display:block;
	margin-left:39%;
	}

#horse {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 150%;
	text-shadow: 5% 5% black;
	margin-top:4%;
}

/*story page css*/

#storyheader {
	margin-left:2.5%;
	margin-top:6%;
	font-size:275%;

}
#storyspan {
	margin-left:2.5%;
	position:relative;
	width:50%;
	height:10%;
	font-size:150%;
}

th {
	color: yellow;
	font-family: 'Barriecito', cursive;	
}

/*woods page css*/

#woods {
	margin-left:2.5%;
	margin-top:6%;
	font-size:275%;
}

/*craftShoes css*/

#fatherwrong {
	margin-top:6%;
	margin-left:2.5%;
	font-size:275%;
}

/*deeper in the woods css*/

#deeper {
	margin-left:2.5%;
	margin-top:6%;
	font-size:275%;
}

#storytable, th, tr {
	position:relative;
	bottom:13.5%;
	color:yellow;
	font-size:120%;
	margin-left:2.5%;
	
}

a {
	color:yellow;
}

/*fight css*/

#wrapper {
	margin-left:2.5%;
	position:relative;
	left:2.5%;
	margin-top:6%;
	font-size:120%;
}

#choice {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 20px;
	background-color: black;
	border-color: yellow;
}

select {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 150%;
	background-color: black;
	border-color:yellow;
}

div {
	top: 1px;
	right: 150px;
	position:fixed;
}

img {
	position: fixed;
	top:90px;
	right: 25px;
	width:600px;
	height:500px;
	border-color:#660000;
}

#choice {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 20px;
	background-color: black;
	border-color: yellow;
}



#storyoption {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 35px;
	background-color:black;
}



#death {
	position:static;
	left:230px;
}

#deathstory {
	position:relative;
	top:550px;
	width:55%;
	height:1px;
}

#playagain {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	position:relative;
	top:120px;
	margin-left:639px;
}


#knighttable {
	position:relative;
	top:25px;
}
