@charset "UTF-8";

body {
	background-color: #67110a;
}

h1 {
	color: yellow;
	position: relative;
	left:10px;
	top:5px;
	font-family: 'Barriecito', cursive;
	font-size: 65px;
	text-shadow: 2px 2px black;
}

p {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	text-shadow: 2px 2px black;
}

a {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 35px;
}


select {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	background-color: black;
	border-color:yellow;
}

div {
	top: 1px;
	right: 150px;
	position:fixed;
}

img {
	position: fixed;
	top:90px;
	left: 750px;
	width:600px;
	height:500px;
	border-color:#660000;
}

input {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 25px;
	background-color: black;
	border-color: yellow;
	
}

th {
	color: yellow;
	font-family: 'Barriecito', cursive;	
}

span {
	position: fixed;
	top:180px;
	left:20px;
	width:650px;
	height:400px;
	font-size:23px;
	letter-spacing:3px;
	line-spacing:6px;
	color: yellow;
	font-family: 'Barriecito', cursive;
}

button {
	color: yellow;
	font-family: 'Barriecito', cursive;
	font-size: 35px;
	margin:520px;
	background-color:black;
	
	
	
}
